@import url(http://fonts.googleapis.com/css?family=Roboto:300);

/********/
/* CARD */
/********/

.mat-card {
  margin: 20px;
}

.card-content {
  display: flex;
}

.play-button-outer {
  flex: 1;
}

.card-name {
  flex: 45;
  line-height: 40px;
  margin: 0px 24px;
  font-size: 20px;
}

.more-button-outer {
  flex: 1;
}

.custom-track-name {
  font-size: 15px;
  line-height: 15px;
}

/***************/
/* PLAY BUTTON */
/***************/

.play-button {
  height: 40px;
  width: 40px;
  display: block;
  overflow: hidden;
  position: relative;
}

.left {
  height: 100%;
  float: left;
  background-color: white;
  width: 36%;
  transition: all 0.25s ease;
  overflow: hidden;
}

.triangle-1 {
  transform: translate(0, -100%);
}

.triangle-1 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 40px solid #424242;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  transition: transform 0.25s ease;
}

.triangle-2 {
  transform: translate(0, 100%);
}

.triangle-2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 40px solid #424242;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  transition: transform 0.25s ease;
}

.right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: white;
  transition: all 0.25s ease;
}

.left.paused{
  width: 50%;
}

.right.paused {
  width: 50%; 
}

.triangle-1.paused {
  transform: translate(0, -50%);
}

.triangle-2.paused {
  transform: translate(0, 50%);
} 